{% extends "base.html" %}
{% block content %}
<h1 class="ui center aligned header" style="padding:1em"><span style="color:white"><em>Upload and Search Image!</em></span></h1>
<div class="ui center aligned container">
  <div class="ui divider"></div>
    <p><span style="color:white"><em>Backend: Keras</em></span></p>
    <p><span style="color:white"><em>API: Flask</em></span></p>
    <div class="ui centered cards" style="padding:20px">
    {% for name, img_url in rows %}
      <div class="ui card" onclick="cardClick('{{ name }}')">
        {% if img_url %}
          <div class="image"><img class="ui fluid image" src="{{ img_url }}" /></div>
        {% else %}
          <div>Sorry, Not Found</div>
        {% endif %}
        <div class="content">
          <div class="header">
            ItemName: {{ name }}
          </div>
      </div>
    </div>
    {% endfor %}
    </div>
    <!-- {{ pagination.info }} -->
    {{ pagination.links }}
    <div class="ui fullscreen modal">
      <div class="header">Header</div>
      <div class="image content">
        <img class="image">
        <div class="description">
          <p id='item-name'>test</p>
        </div>
      </div>
    </div>
<script type="text/javascript">
  function cardClick(name){
    $('.fullscreen.modal').modal('show');
    $('#item-name').html(name)
  }
</script>
{% endblock %}
