{% extends "base.html" %}
{% block content %}
<h1 class="ui center aligned header" style="padding:1em"><span style="color:black"><em>Recommends</em></span></h1>
<div class="ui divider"></div>
<div class="ui center aligned container" style="width:100%;overflow-x:scroll;">
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Original</th>
        <th>Similar Item1</th>
        <th>Similar Item2</th>
        <th>Similar Item3</th>
        <th>Similar Item4</th>
        <th>Similar Item5</th>
        <th>Similar Item6</th>
        <th>Similar Item7</th>
        <th>Similar Item8</th>
        <th>Similar Item9</th>
        <th>Similar Item10</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for name, img_url, recommends in rows %}
          <td data-label="Name">
            <div class="ui card">
              <div class="ui small image centered"><img class="ui fluid image" src="{{ img_url }}"/></div>
              <div class="content" style="background-color:#FFFACD;">
                <div class="header">
                  ItemName: {{name}}
                </div>
              </div>
            </div>
          </td>
          {% for target, recommend_img_url, acc in recommends %}
            <td data-label="Recommend">
              <div class="ui card">
                <div class="ui small image centered"><img class="ui fluid image" src="{{ recommend_img_url }}"/></div>
                <div class="content">
                  <div class="header">
                    ItemName: {{target}}
                  </div>
                </div>
              </div>
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="ui center aligned container">
<!-- {{ pagination.info }} -->
{{ pagination.links }}
</div>
{% endblock %}
